body {
    background-color: #121212; /* Dark background color */
    color: #e0e0e0; /* Light text color for contrast */
    font-family: Arial, sans-serif; /* Font for better readability */
}

header, footer, .section-background {
    background-color: #1e1e1e; /* Darker background for headers, footers, or sections */
    color: #e0e0e0; /* Consistent light text color */
}



/* Fixed Navbar Styling */
.fixed-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    /* background-color: #343a40; */
}

/* Adds margin-top to content when navbar is fixed */ */
.custom-section{ 
    margin-top: 60px; /*Adjust based on the height of the fixed navbar*/
    padding-top: 70px;
} 

.custom-navbar
{
    height: 100px;
}

.custom-navbar .navbar-brand 
{
    padding-left: 100px;
    font-size:x-large;
    font-weight: bold;
}

.navbar-nav
{
    padding-left: 200px;
    font-size: large;
    font-family:Arial, Helvetica, sans-serif;
    
}

.navbar-nav .nav-item
{
    padding: 10px;
    font-weight:normal;
   
}

.navbar-nav .login
{
    align-self:center;
}

.navbar-nav .nav-link:hover
{
    color: rgb(223, 62, 62);
}

.Resources .card .card-img-top{
    height: 250px;
    background-color: #121212; /* Dark background color */
    color: #e0e0e0; /* Light text color for contrast */
}

.card-custom-style
{
    background-color: #dfd5d5;
}

.Resources .card:hover
{
    transform: scale(1.05); /* Zoom effect */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Adds a stronger shadow */
    /* background-color: #2c3335; */
}


.footer h5
{
    padding-top: 50px;
    text-align: center;
}